<?php

return array(
    'queasy\\Loader' => array(
        'app' => 'queasy\\App',
        'logger' => 'queasy\\log\\Logger',
        'route' => 'queasy\\DefaultRoute'
    ),
    'queasy\\log\\Logger' => array(
        'path' => 'logs/debug.log'
    ),
    'queasy\\db\\DB' => array(
        'default' => array(
            'driver' => 'mysql',
            'host' => 'localhost',
            'name' => 'queasy_db',
            'user' => 'queasy_user',
            'password' => 'queasy_password',
            'fetchMode' => \PDO::FETCH_ASSOC,
            'options' => array(
                \PDO::MYSQL_ATTR_INIT_COMMAND => 'SET NAMES utf8; SET CHARACTER SET utf8;'
            )
        )
    ),
    'queasy\\i18n\\Trans' => array(
        'default' => 'en',
        'rules' => array(
            'ru' => array('en'),
            'uk' => array('ru', 'en')
        ),
        'translations' => new queasy\config\Loader('i18n/translations.php')
    ),
    'queasy\\validation\\Validator' => array(
        'rules' => array(
            'email' => 'queasy\\validation\\EmailRule',
            'maxlength' => 'queasy\\validation\\MaxlengthRule',
            'minlength' => 'queasy\\validation\\MinlengthRule',
            'required' => 'queasy\\validation\\RequiredRule'
        )
    )
);

